@model MojoMVC.Models.WebFeed

@{
    ViewBag.Title = $"Previewing { Model.Title }";
}

<main>
    <section class="row">
        <h1>@Model.Title</h1>
        <h2>@Model.Description</h2>
    </section>
</main>
