@model List<MojoMVC.Models.Entities.Feed>
@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script
        src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.js")">
    </script>
}

<main>
    <div class="row">
        <section class="col-md-6 col-lg-12">
            <h2>Latest</h2>
            @Html.Partial("../_Partials/_Feeds", Model)
        </section>
    </div>
    <div class="row">
        <div id="feed-item-container"></div>
    </div>
</main>