@model MojoMVC.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script
        src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.js")">
    </script>
}

<main>
    <div class="row">
        <section class="col-md-6">
            <h2>Feed from Url</h2>
            @Html.Partial("../_Partials/_Feeds", Model.WebFeeds)
        </section>
        <section class="col-md-6">
            <h2>Feed from Db</h2>
            @Html.Partial("../_Partials/_Feeds", Model.DbFeeds)
        </section>
    </div>
    <div class="row d-flex">
        <h2 class="align-content-start">Feed Loads Below?</h2>
        <div class="align-content-end">
            @Ajax.ActionLink("Load Feed", "GetFeedById", "Home", new { feedId = 5 }, new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "feed-item-container",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "completeAjaxSuccess",
            }, new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>
    <div class="row">
        <div id="feed-item-container"></div>
    </div>
</main>