@model List<MojoMVC.Models.Entities.FeedItem>

<ul  class="feed-items list-group list-group-flush">
    @foreach (var item in Model)
    {
        <li class="list-group-item">@item.Title</li>
        <p class="list-group-item list-group-item-info">@item.Description</p>
    }
</ul>
