@model IEnumerable<MojoMVC.Models.Entities.Feed>

@foreach (var feed in Model)
{
    <div class="card mb-4">
        <div class="feed-header card-header d-flex justify-content-between">
            <div class="align-content-start">@feed.Title</div>
            <div class="align-content-end">Last Updated: <span class="utc-date">@feed.LastUpdated.ToString("o")</span></div>
        </div>
        <ul class="feed-items list-group list-group-flush">
            @foreach (var item in feed.FeedItems)
            {
                <li class="list-group-item">@item.Title</li>
                <p class="list-group-item list-group-item-info">@item.Description</p>
            }
        </ul>
    </div>
}